USE [master]
GO
/****** Object:  Database [Firma]    Script Date: 10.03.2026 14:25:32 ******/
CREATE DATABASE [Firma];
GO
USE [Firma];
GO



USE [Firma]
GO
GRANT VIEW ANY COLUMN ENCRYPTION KEY DEFINITION TO [public] AS [dbo]
GO
GRANT VIEW ANY COLUMN MASTER KEY DEFINITION TO [public] AS [dbo]
GO
/****** Object:  UserDefinedFunction [dbo].[sf_Arbeitszeit_Projekt_Monat]    Script Date: 10.03.2026 14:25:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   FUNCTION [dbo].[sf_Arbeitszeit_Projekt_Monat]  
(
	@ProjektID int,
	@Datum date
)
RETURNS smallint
AS
BEGIN
	DECLARE @Arbeitszeit_Projekt_Monat smallint;

	SET @Arbeitszeit_Projekt_Monat =
	(
		SELECT SUM(dbo.Arbeitszeit.Zeit) AS SumZeit
		FROM dbo.Arbeitszeit 
			INNER JOIN dbo.Projektzuordnung 
				ON dbo.Arbeitszeit.ProjektzuordnungID = dbo.Projektzuordnung.ProjektzuordnungID
		WHERE (YEAR(dbo.Arbeitszeit.Datum) = YEAR(@Datum)) 
		AND   (MONTH(dbo.Arbeitszeit.Datum) = MONTH(@Datum)) 
		AND   (dbo.Projektzuordnung.ProjektID = @ProjektID)	
	);

	IF @Arbeitszeit_Projekt_Monat IS NULL
		SET  @Arbeitszeit_Projekt_Monat = 0;

	-- Return the result of the function
	RETURN @Arbeitszeit_Projekt_Monat;

END
GO
/****** Object:  UserDefinedFunction [dbo].[sf_GetAge]    Script Date: 10.03.2026 14:25:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   FUNCTION [dbo].[sf_GetAge] 
(
	@GebDat date
)
RETURNS int
AS
BEGIN
	-- Declare the return variable here
	DECLARE @Age int;
	DECLARE @Heute date;
	SET @Heute = GETDATE();
	
	IF (MONTH(@GebDat) > MONTH(@Heute)) -- Geburtsmonat erst später
		SET @Age = DATEDIFF(YEAR, @GebDat, @Heute) - 1 -- ist noch nich so alt
	ELSE IF (MONTH(@GebDat) = MONTH(@Heute) AND DAY(@GebDat) > DAY(@Heute)) -- Geburtstad ist Morgen bis Monatsende
		SET @Age = DATEDIFF(YEAR, @GebDat, @Heute) - 1 -- ist noch nich so alt
	ELSE SET @Age = DATEDIFF(YEAR, @GebDat, @Heute);	

	-- Return the result of the function
	RETURN @Age;

END
GO
/****** Object:  UserDefinedFunction [dbo].[sf_IstMaAusPrAbt]    Script Date: 10.03.2026 14:25:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   FUNCTION [dbo].[sf_IstMaAusPrAbt] 
(
	@PersonalID int
)
RETURNS bit
AS
BEGIN
	DECLARE @MaIstAusPrAbt bit;

	SET @MaIstAusPrAbt = 
	(
		SELECT Abteilung.Projektabteilung
		FROM Abteilung 
				INNER JOIN Personal 
					ON Abteilung.AbteilungsID = Personal.AbteilungsID
		WHERE (Personal.PersonalID = @PersonalID)
	);

	-- Return the result of the function
	RETURN @MaIstAusPrAbt;
END
GO
/****** Object:  UserDefinedFunction [dbo].[sf_ProjektAbgeschlossen]    Script Date: 10.03.2026 14:25:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   FUNCTION [dbo].[sf_ProjektAbgeschlossen] 
(
	@ProjektID int
)
RETURNS bit
AS
BEGIN
	
	DECLARE @ProjektAbgeschlossen bit;	

	SET @ProjektAbgeschlossen = 
	(
		SELECT Abgeschlossen
		FROM Projekt
		WHERE ProjektID = @ProjektID
	);
	
	-- so geht auch
	-- SELECT @ProjektAbgeschlossen = Abgeschlossen FROM Projekt WHERE ProjektID = @ProjektID

	-- Return the result of the function
	RETURN @ProjektAbgeschlossen;

END
GO
/****** Object:  UserDefinedFunction [dbo].[sf_ProjektleiterVorhanden]    Script Date: 10.03.2026 14:25:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   FUNCTION [dbo].[sf_ProjektleiterVorhanden] 
(
	@ProjektID int
)
RETURNS bit
AS
BEGIN
	DECLARE @ProjektleiterVorhanden bit;
	SET @ProjektleiterVorhanden =
	(
		SELECT COUNT(dbo.Projektzuordnung.IstProjektleiter)
		FROM dbo.Projektzuordnung 
		WHERE (dbo.Projektzuordnung.ProjektID = @ProjektID) 
		AND (dbo.Projektzuordnung.IstProjektleiter = 1)
	);
	-- Return the result of the function
	RETURN @ProjektleiterVorhanden;

END
GO
/****** Object:  UserDefinedFunction [dbo].[sf_Zeitbudget_Projekt_Datum]    Script Date: 10.03.2026 14:25:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/**
-- Author: Siamak Goudartzi
-- Create date: 25.02.2026
 * @Function: sf_Zeitbudget_Projekt_Datum
 * @Description: Retrieves the monthly allocated labor hours for a specific project.
 * The target month and year are derived from the provided date.
 *
 * @Param: @ProjektID (INT)  - Unique identifier for the project.
 * @Param: @Datum     (DATE) - Reference date to identify the month/year.
 *
 * @Return: SMALLINT - Total allocated hours (Returns 0 if no budget entry is found).
 */

CREATE   FUNCTION [dbo].[sf_Zeitbudget_Projekt_Datum] 
(
	@ProjektID int,
	@Datum date
)
RETURNS smallint
AS
BEGIN
	-- Declare the return variable here
	DECLARE @Zeitbudget smallint;
			
	SET @Zeitbudget = 
	(
		SELECT ProjektZeitBudget.Zeitbudget
		FROM ProjektZeitBudget 
		WHERE ProjektID = @ProjektID
		AND Jahr = YEAR(@Datum)
		AND Monat = MONTH(@Datum)	 
	);
	
	IF @Zeitbudget IS NULL
		SET @Zeitbudget = 0;
	--ELSE
		-- nicht ändern
	
	RETURN @Zeitbudget;

END
GO
/****** Object:  UserDefinedFunction [dbo].[sf_Zeitstempel]    Script Date: 10.03.2026 14:25:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   FUNCTION [dbo].[sf_Zeitstempel]  
(
)
RETURNS char(18)
AS
BEGIN
	

		
		RETURN FORMAT(GETDATE(), 'yyyyMMdd-HHmmssfff');

END
GO
/****** Object:  Table [dbo].[Personal]    Script Date: 10.03.2026 14:25:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personal](
	[PersonalID] [int] IDENTITY(1,1) NOT NULL,
	[Vorname] [nvarchar](50) NOT NULL,
	[Nachname] [nvarchar](50) NOT NULL,
	[Land] [nvarchar](50) NULL,
	[Ort] [nvarchar](50) NULL,
	[PLZ] [nchar](5) NULL,
	[Strasse] [nvarchar](50) NULL,
	[Hausnr] [nvarchar](20) NULL,
	[Telefon] [nvarchar](50) NULL,
	[Mobil] [nvarchar](150) NULL,
	[AbteilungsID] [int] NOT NULL,
	[BerufID] [int] NOT NULL,
	[PositionID] [int] NOT NULL,
	[Kommentar] [ntext] NULL,
 CONSTRAINT [PK_Personal] PRIMARY KEY CLUSTERED 
(
	[PersonalID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Position]    Script Date: 10.03.2026 14:25:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Position](
	[PositionID] [int] IDENTITY(1,1) NOT NULL,
	[Position] [nvarchar](30) NOT NULL,
	[Kommentar] [ntext] NULL,
 CONSTRAINT [PK_Position] PRIMARY KEY CLUSTERED 
(
	[PositionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Beruf]    Script Date: 10.03.2026 14:25:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Beruf](
	[BerufID] [int] IDENTITY(1,1) NOT NULL,
	[Beruf] [nvarchar](50) NOT NULL,
	[Kommentar] [ntext] NULL,
 CONSTRAINT [PK_Profession] PRIMARY KEY CLUSTERED 
(
	[BerufID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Abteilung]    Script Date: 10.03.2026 14:25:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Abteilung](
	[AbteilungsID] [int] IDENTITY(10,10) NOT NULL,
	[Abteilung] [nvarchar](50) NOT NULL,
	[Projektabteilung] [bit] NOT NULL,
	[Kommentar] [ntext] NULL,
 CONSTRAINT [PK_Abteilung] PRIMARY KEY CLUSTERED 
(
	[AbteilungsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[View_Abteilungen]    Script Date: 10.03.2026 14:25:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[View_Abteilungen]
AS
SELECT        TOP (100) PERCENT dbo.Abteilung.Abteilung, dbo.Abteilung.Projektabteilung, dbo.Abteilung.Kommentar, dbo.Personal.Nachname, dbo.Personal.Vorname, dbo.Beruf.Beruf, dbo.Position.Position
FROM            dbo.Abteilung INNER JOIN
                         dbo.Personal ON dbo.Abteilung.AbteilungsID = dbo.Personal.AbteilungsID INNER JOIN
                         dbo.Beruf ON dbo.Personal.BerufID = dbo.Beruf.BerufID INNER JOIN
                         dbo.Position ON dbo.Personal.PositionID = dbo.Position.PositionID
ORDER BY dbo.Abteilung.Abteilung, dbo.Personal.Nachname, dbo.Personal.Vorname
GO
/****** Object:  Table [dbo].[Projekt]    Script Date: 10.03.2026 14:25:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Projekt](
	[ProjektID] [int] IDENTITY(10,10) NOT NULL,
	[Projekt] [nvarchar](50) NOT NULL,
	[KundenID] [int] NOT NULL,
	[Abgeschlossen] [bit] NOT NULL,
	[Kommentar] [text] NULL,
 CONSTRAINT [PK_Projekt] PRIMARY KEY CLUSTERED 
(
	[ProjektID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kunden]    Script Date: 10.03.2026 14:25:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kunden](
	[KundenID] [int] IDENTITY(10,10) NOT NULL,
	[Vorname] [nvarchar](50) NOT NULL,
	[Nachname] [nvarchar](50) NOT NULL,
	[Ort] [nvarchar](50) NULL,
	[PLZ] [char](5) NULL,
	[Strasse] [nvarchar](50) NULL,
	[Hausnr] [nvarchar](10) NULL,
	[Telefon] [nvarchar](50) NULL,
	[Mobil] [nvarchar](50) NULL,
	[GebDat] [date] NULL,
	[Kommentar] [text] NULL,
 CONSTRAINT [PK_Kunden] PRIMARY KEY CLUSTERED 
(
	[KundenID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[View_Kunde_Projekt_Uebersicht]    Script Date: 10.03.2026 14:25:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[View_Kunde_Projekt_Uebersicht]
AS
SELECT        TOP (100) PERCENT dbo.Kunden.Nachname, dbo.Kunden.Vorname, dbo.Projekt.Projekt, dbo.Projekt.Abgeschlossen, dbo.Projekt.Kommentar
FROM            dbo.Kunden LEFT OUTER JOIN
                         dbo.Projekt ON dbo.Kunden.KundenID = dbo.Projekt.KundenID
ORDER BY dbo.Kunden.Nachname, dbo.Projekt.Projekt
GO
/****** Object:  Table [dbo].[RolleImProjekt]    Script Date: 10.03.2026 14:25:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolleImProjekt](
	[RolleID] [int] IDENTITY(1,1) NOT NULL,
	[Rolle] [nvarchar](30) NOT NULL,
	[Kommentar] [nvarchar](max) NULL,
 CONSTRAINT [PK_RolleImProjekt] PRIMARY KEY CLUSTERED 
(
	[RolleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Projektzuordnung]    Script Date: 10.03.2026 14:25:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Projektzuordnung](
	[ProjektzuordnungID] [int] IDENTITY(1,1) NOT NULL,
	[ProjektID] [int] NOT NULL,
	[PersonalID] [int] NOT NULL,
	[RolleID] [int] NOT NULL,
	[IstProjektleiter] [bit] NOT NULL,
	[Kommentar] [nvarchar](max) NULL,
 CONSTRAINT [PK_Projektzuordnung] PRIMARY KEY CLUSTERED 
(
	[ProjektzuordnungID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Arbeitszeit]    Script Date: 10.03.2026 14:25:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Arbeitszeit](
	[ArbeitszeitID] [int] IDENTITY(10,10) NOT NULL,
	[ProjektzuordnungID] [int] NOT NULL,
	[Datum] [date] NOT NULL,
	[Zeit] [smallint] NOT NULL,
	[Kommentar] [text] NULL,
 CONSTRAINT [PK_Arbeitszeit] PRIMARY KEY CLUSTERED 
(
	[ArbeitszeitID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[View_Arbeitszeit]    Script Date: 10.03.2026 14:25:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[View_Arbeitszeit]
AS
SELECT        TOP (100) PERCENT dbo.Arbeitszeit.Datum, dbo.Kunden.Nachname AS KuNN, dbo.Kunden.Vorname AS KuVN, dbo.Projekt.Projekt, dbo.Personal.Nachname AS MaNN, dbo.Personal.Vorname AS MaVN, 
                         dbo.Projektzuordnung.IstProjektleiter, dbo.RolleImProjekt.Rolle, dbo.Abteilung.Abteilung, dbo.Beruf.Beruf, dbo.Position.Position, dbo.Arbeitszeit.Zeit
FROM            dbo.Arbeitszeit INNER JOIN
                         dbo.Projektzuordnung ON dbo.Arbeitszeit.ProjektzuordnungID = dbo.Projektzuordnung.ProjektzuordnungID INNER JOIN
                         dbo.Projekt ON dbo.Projektzuordnung.ProjektID = dbo.Projekt.ProjektID INNER JOIN
                         dbo.Kunden ON dbo.Projekt.KundenID = dbo.Kunden.KundenID INNER JOIN
                         dbo.Personal ON dbo.Projektzuordnung.PersonalID = dbo.Personal.PersonalID INNER JOIN
                         dbo.RolleImProjekt ON dbo.Projektzuordnung.RolleID = dbo.RolleImProjekt.RolleID INNER JOIN
                         dbo.Abteilung ON dbo.Personal.AbteilungsID = dbo.Abteilung.AbteilungsID INNER JOIN
                         dbo.Beruf ON dbo.Personal.BerufID = dbo.Beruf.BerufID INNER JOIN
                         dbo.Position ON dbo.Personal.PositionID = dbo.Position.PositionID
ORDER BY dbo.Arbeitszeit.Datum DESC, KuNN, dbo.Projekt.Projekt, MaNN, MaVN
GO
/****** Object:  View [dbo].[View_Arbeitszeit-2023]    Script Date: 10.03.2026 14:25:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[View_Arbeitszeit-2023]
AS
SELECT        TOP (100) PERCENT dbo.Arbeitszeit.Datum, dbo.Kunden.Nachname AS KuNN, dbo.Kunden.Vorname AS KuVN, dbo.Projekt.Projekt, dbo.Personal.Nachname AS MaNN, dbo.Personal.Vorname AS MaVN, 
                         dbo.Projektzuordnung.IstProjektleiter, dbo.RolleImProjekt.Rolle, dbo.Abteilung.Abteilung, dbo.Beruf.Beruf, dbo.Position.Position, dbo.Arbeitszeit.Zeit
FROM            dbo.Arbeitszeit INNER JOIN
                         dbo.Projektzuordnung ON dbo.Arbeitszeit.ProjektzuordnungID = dbo.Projektzuordnung.ProjektzuordnungID INNER JOIN
                         dbo.Projekt ON dbo.Projektzuordnung.ProjektID = dbo.Projekt.ProjektID INNER JOIN
                         dbo.Kunden ON dbo.Projekt.KundenID = dbo.Kunden.KundenID INNER JOIN
                         dbo.Personal ON dbo.Projektzuordnung.PersonalID = dbo.Personal.PersonalID INNER JOIN
                         dbo.RolleImProjekt ON dbo.Projektzuordnung.RolleID = dbo.RolleImProjekt.RolleID INNER JOIN
                         dbo.Abteilung ON dbo.Personal.AbteilungsID = dbo.Abteilung.AbteilungsID INNER JOIN
                         dbo.Beruf ON dbo.Personal.BerufID = dbo.Beruf.BerufID INNER JOIN
                         dbo.Position ON dbo.Personal.PositionID = dbo.Position.PositionID
WHERE        (YEAR(dbo.Arbeitszeit.Datum) = 2023)
ORDER BY dbo.Arbeitszeit.Datum DESC, KuNN, dbo.Projekt.Projekt, MaNN, MaVN
GO
/****** Object:  View [dbo].[View_Arbeitszeit-2024]    Script Date: 10.03.2026 14:25:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[View_Arbeitszeit-2024]
AS
SELECT        TOP (100) PERCENT dbo.Arbeitszeit.Datum, dbo.Kunden.Nachname AS KuNN, dbo.Kunden.Vorname AS KuVN, dbo.Projekt.Projekt, dbo.Personal.Nachname AS MaNN, dbo.Personal.Vorname AS MaVN, 
                         dbo.Projektzuordnung.IstProjektleiter, dbo.RolleImProjekt.Rolle, dbo.Abteilung.Abteilung, dbo.Beruf.Beruf, dbo.Position.Position, dbo.Arbeitszeit.Zeit
FROM            dbo.Arbeitszeit INNER JOIN
                         dbo.Projektzuordnung ON dbo.Arbeitszeit.ProjektzuordnungID = dbo.Projektzuordnung.ProjektzuordnungID INNER JOIN
                         dbo.Projekt ON dbo.Projektzuordnung.ProjektID = dbo.Projekt.ProjektID INNER JOIN
                         dbo.Kunden ON dbo.Projekt.KundenID = dbo.Kunden.KundenID INNER JOIN
                         dbo.Personal ON dbo.Projektzuordnung.PersonalID = dbo.Personal.PersonalID INNER JOIN
                         dbo.RolleImProjekt ON dbo.Projektzuordnung.RolleID = dbo.RolleImProjekt.RolleID INNER JOIN
                         dbo.Abteilung ON dbo.Personal.AbteilungsID = dbo.Abteilung.AbteilungsID INNER JOIN
                         dbo.Beruf ON dbo.Personal.BerufID = dbo.Beruf.BerufID INNER JOIN
                         dbo.Position ON dbo.Personal.PositionID = dbo.Position.PositionID
WHERE        (YEAR(dbo.Arbeitszeit.Datum) = 2024)
ORDER BY dbo.Arbeitszeit.Datum DESC, KuNN, dbo.Projekt.Projekt, MaNN, MaVN
GO
/****** Object:  View [dbo].[View_Anzahl_Ma_pro_Abteilung]    Script Date: 10.03.2026 14:25:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[View_Anzahl_Ma_pro_Abteilung]
AS
SELECT        TOP (100) PERCENT dbo.Abteilung.Abteilung, dbo.Abteilung.Projektabteilung, COUNT(dbo.Personal.PersonalID) AS Anzahl
FROM            dbo.Abteilung LEFT OUTER JOIN
                         dbo.Personal ON dbo.Abteilung.AbteilungsID = dbo.Personal.AbteilungsID
GROUP BY dbo.Abteilung.Abteilung, dbo.Abteilung.Projektabteilung
ORDER BY dbo.Abteilung.Abteilung
GO
/****** Object:  View [dbo].[View_Arbeitszeit_Min_Max_AVG_pro_Projekt_Person]    Script Date: 10.03.2026 14:25:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[View_Arbeitszeit_Min_Max_AVG_pro_Projekt_Person]
AS
SELECT        TOP (100) PERCENT dbo.Kunden.Nachname AS KuNN, dbo.Kunden.Vorname AS KuVN, dbo.Projekt.Projekt, dbo.Personal.Nachname AS MaNN, dbo.Personal.Vorname AS MaVN, dbo.Projektzuordnung.IstProjektleiter, 
                         dbo.RolleImProjekt.Rolle, dbo.Abteilung.Abteilung, dbo.Beruf.Beruf, dbo.Position.Position, COUNT(dbo.Arbeitszeit.Datum) AS AnzTage, SUM(dbo.Arbeitszeit.Zeit) AS SumZeit, MIN(dbo.Arbeitszeit.Zeit) AS MinZeitProTag, 
                         MAX(dbo.Arbeitszeit.Zeit) AS MaxZeitProTag, AVG(dbo.Arbeitszeit.Zeit) AS AvgZeitProTag
FROM            dbo.Arbeitszeit INNER JOIN
                         dbo.Projektzuordnung ON dbo.Arbeitszeit.ProjektzuordnungID = dbo.Projektzuordnung.ProjektzuordnungID INNER JOIN
                         dbo.Projekt ON dbo.Projektzuordnung.ProjektID = dbo.Projekt.ProjektID INNER JOIN
                         dbo.Kunden ON dbo.Projekt.KundenID = dbo.Kunden.KundenID INNER JOIN
                         dbo.Personal ON dbo.Projektzuordnung.PersonalID = dbo.Personal.PersonalID INNER JOIN
                         dbo.RolleImProjekt ON dbo.Projektzuordnung.RolleID = dbo.RolleImProjekt.RolleID INNER JOIN
                         dbo.Abteilung ON dbo.Personal.AbteilungsID = dbo.Abteilung.AbteilungsID INNER JOIN
                         dbo.Beruf ON dbo.Personal.BerufID = dbo.Beruf.BerufID INNER JOIN
                         dbo.Position ON dbo.Personal.PositionID = dbo.Position.PositionID
GROUP BY dbo.Kunden.Nachname, dbo.Kunden.Vorname, dbo.Projekt.Projekt, dbo.Personal.Nachname, dbo.Personal.Vorname, dbo.RolleImProjekt.Rolle, dbo.Abteilung.Abteilung, dbo.Beruf.Beruf, dbo.Position.Position, 
                         dbo.Projektzuordnung.IstProjektleiter
ORDER BY KuNN, dbo.Projekt.Projekt, MaNN, MaVN
GO
/****** Object:  View [dbo].[View_Kunde_Projekt_MA_Abt_FullJoin]    Script Date: 10.03.2026 14:25:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[View_Kunde_Projekt_MA_Abt_FullJoin]
AS
SELECT        TOP (100) PERCENT dbo.Kunden.Nachname AS KuNN, dbo.Kunden.Vorname AS KuVN, dbo.Projekt.Projekt, dbo.Personal.Nachname AS MaNN, dbo.Personal.Vorname AS MaVN, dbo.Abteilung.Abteilung
FROM            dbo.Abteilung FULL OUTER JOIN
                         dbo.Personal ON dbo.Abteilung.AbteilungsID = dbo.Personal.AbteilungsID FULL OUTER JOIN
                         dbo.Projektzuordnung FULL OUTER JOIN
                         dbo.Projekt ON dbo.Projektzuordnung.ProjektID = dbo.Projekt.ProjektID ON dbo.Personal.PersonalID = dbo.Projektzuordnung.PersonalID FULL OUTER JOIN
                         dbo.Kunden ON dbo.Projekt.KundenID = dbo.Kunden.KundenID
ORDER BY KuNN, dbo.Projekt.Projekt, MaNN, MaVN
GO
/****** Object:  View [dbo].[View_Arbeitszeit-2025]    Script Date: 10.03.2026 14:25:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[View_Arbeitszeit-2025]
AS
SELECT TOP (100) PERCENT 
		dbo.Arbeitszeit.Datum, 
		-- Daten aus Tabelle Kunden
		dbo.Kunden.Nachname AS KuNN, dbo.Kunden.Vorname AS KuVN, 
		--
		dbo.Projekt.Projekt,
		-- Daten aus Tabelle Personal 
		dbo.Personal.Nachname AS MaNN, dbo.Personal.Vorname AS MaVN,
		--
		dbo.Projektzuordnung.IstProjektleiter, dbo.RolleImProjekt.Rolle, 
		--
		dbo.Abteilung.Abteilung, dbo.Position.Position, dbo.Beruf.Beruf, 
		--
		dbo.Arbeitszeit.Zeit AS Arbeitszeit
FROM dbo.Arbeitszeit 
		INNER JOIN dbo.Projektzuordnung 
			ON dbo.Arbeitszeit.ProjektzuordnungID = dbo.Projektzuordnung.ProjektzuordnungID 
		INNER JOIN dbo.Personal 
			ON dbo.Projektzuordnung.PersonalID = dbo.Personal.PersonalID  
		INNER JOIN dbo.RolleImProjekt  
			ON dbo.Projektzuordnung.RolleID = dbo.RolleImProjekt.RolleID  
		INNER JOIN dbo.Abteilung 
			ON dbo.Personal.AbteilungsID = dbo.Abteilung.AbteilungsID 
		INNER JOIN dbo.Beruf 
			ON dbo.Personal.BerufID = dbo.Beruf.BerufID 
		INNER JOIN dbo.Position 
			ON dbo.Personal.PositionID = dbo.Position.PositionID 
		INNER JOIN dbo.Projekt 
			ON dbo.Projektzuordnung.ProjektID = dbo.Projekt.ProjektID 
		INNER JOIN dbo.Kunden 
			ON dbo.Projekt.KundenID = dbo.Kunden.KundenID
-- Nach Datum filtern --
WHERE (YEAR(dbo.Arbeitszeit.Datum) = 2025)
ORDER BY dbo.Arbeitszeit.Datum DESC, KuNN, Projekt, MaNN, MaVN
GO
/****** Object:  UserDefinedFunction [dbo].[tf_Arbeitszeit_Jahr]    Script Date: 10.03.2026 14:25:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   FUNCTION [dbo].[tf_Arbeitszeit_Jahr]  
(			
	@Jahr int
)
RETURNS TABLE 
AS
RETURN 
(
	SELECT TOP (100) PERCENT 
		dbo.Arbeitszeit.Datum, 
		dbo.Kunden.Nachname AS KuNN, dbo.Kunden.Vorname AS KuVN, 
		dbo.Projekt.Projekt, 
		dbo.Personal.Nachname AS MaNN, dbo.Personal.Vorname AS MaVN, 
		dbo.Abteilung.Abteilung, dbo.Position.Position, dbo.Beruf.Beruf, 
		dbo.Arbeitszeit.Zeit
	FROM dbo.Arbeitszeit 
		INNER JOIN dbo.Projektzuordnung 
			ON dbo.Arbeitszeit.ProjektzuordnungID = dbo.Projektzuordnung.ProjektzuordnungID 
		INNER JOIN dbo.Personal 
			ON dbo.Projektzuordnung.PersonalID = dbo.Personal.PersonalID 
		INNER JOIN dbo.Abteilung 
			ON dbo.Personal.AbteilungsID = dbo.Abteilung.AbteilungsID 
		INNER JOIN dbo.Beruf 
			ON dbo.Personal.BerufID = dbo.Beruf.BerufID 
		INNER JOIN dbo.Position 
			ON dbo.Personal.PositionID = dbo.Position.PositionID 
		INNER JOIN dbo.Projekt 
			ON dbo.Projektzuordnung.ProjektID = dbo.Projekt.ProjektID 
		INNER JOIN dbo.Kunden 
			ON dbo.Projekt.KundenID = dbo.Kunden.KundenID
	WHERE (YEAR(dbo.Arbeitszeit.Datum) = @Jahr) 
	ORDER BY dbo.Arbeitszeit.Datum DESC, KuNN, Projekt, MaNN, MaVN
)
GO
/****** Object:  UserDefinedFunction [dbo].[tf_AbteilungsInfo]    Script Date: 10.03.2026 14:25:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   FUNCTION [dbo].[tf_AbteilungsInfo] 
(		
	@AbteilungsID int
)
RETURNS TABLE 
AS
RETURN 
(
	SELECT --TOP (100) PERCENT 
		dbo.Abteilung.Abteilung, dbo.Abteilung.Projektabteilung, dbo.Abteilung.Kommentar, 
		dbo.Personal.Nachname, dbo.Personal.Vorname, dbo.Personal.Ort, 
		dbo.Personal.Telefon, 
		dbo.Position.Position, dbo.Beruf.Beruf
	FROM dbo.Personal 
		INNER JOIN dbo.Position 
			ON dbo.Personal.PositionID = dbo.Position.PositionID 
		INNER JOIN dbo.Beruf 
			ON dbo.Personal.BerufID = dbo.Beruf.BerufID
		RIGHT JOIN dbo.Abteilung
			ON dbo.Abteilung.AbteilungsID = dbo.Personal.AbteilungsID 
		WHERE dbo.Abteilung.AbteilungsID = @AbteilungsID
	--ORDER BY dbo.Abteilung.Abteilung, dbo.Personal.Nachname, dbo.Personal.Vorname
);
GO
/****** Object:  UserDefinedFunction [dbo].[tf_Kundenprojekte]    Script Date: 10.03.2026 14:25:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   FUNCTION [dbo].[tf_Kundenprojekte] 
(	
	@KundenID int
)
RETURNS TABLE 
AS
RETURN 
(
	SELECT TOP (100) PERCENT 
		dbo.Kunden.Nachname, dbo.Kunden.Vorname, 
		dbo.Projekt.Projekt, dbo.Projekt.Abgeschlossen, dbo.Projekt.Kommentar
	FROM dbo.Kunden 
		LEFT OUTER JOIN dbo.Projekt 
			ON dbo.Kunden.KundenID = dbo.Projekt.KundenID
	WHERE Kunden.KundenID = @KundenID
	ORDER BY dbo.Kunden.Nachname, Projekt	
);
GO
/****** Object:  Table [dbo].[ProjektZeitBudget]    Script Date: 10.03.2026 14:25:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjektZeitBudget](
	[ProjektZeitBudgetID] [int] IDENTITY(1,1) NOT NULL,
	[ProjektID] [int] NOT NULL,
	[Monat] [tinyint] NOT NULL,
	[Jahr] [smallint] NOT NULL,
	[Zeitbudget] [smallint] NOT NULL,
	[Kommentar] [nvarchar](max) NULL,
 CONSTRAINT [PK_Projekt_ZeitBudget] PRIMARY KEY CLUSTERED 
(
	[ProjektZeitBudgetID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[tf_ProjektZeitBudget_Jahr_Monat]    Script Date: 10.03.2026 14:25:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   FUNCTION [dbo].[tf_ProjektZeitBudget_Jahr_Monat] 
(	
	@Jahr smallint,
	@Monat tinyint
)
RETURNS TABLE 
AS
RETURN 
(
	SELECT 
		dbo.ProjektZeitBudget.Jahr, dbo.ProjektZeitBudget.Monat,
		dbo.Projekt.Projekt, 
		dbo.Kunden.Nachname, dbo.Kunden.Vorname, 
		dbo.ProjektZeitBudget.Zeitbudget
	FROM dbo.ProjektZeitBudget 
		INNER JOIN dbo.Projekt 
			ON dbo.ProjektZeitBudget.ProjektID = dbo.Projekt.ProjektID 
		INNER JOIN dbo.Kunden 
			ON dbo.Projekt.KundenID = dbo.Kunden.KundenID
	WHERE Jahr = @Jahr
	AND Monat = @Monat
);
GO
/****** Object:  UserDefinedFunction [dbo].[tf_Arbeitszeit_Mitarbeiter_Projekt_Datum_von_bis]    Script Date: 10.03.2026 14:25:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   FUNCTION [dbo].[tf_Arbeitszeit_Mitarbeiter_Projekt_Datum_von_bis]
(	
	@DatumVon date,
	@DatumBis date,	
	@PersonalID int, 
	@ProjektID int
)
RETURNS TABLE 
AS
RETURN 
(
	SELECT TOP 100 Percent 
		dbo.Arbeitszeit.Datum, 
		dbo.Kunden.Nachname AS KuNN, 
		dbo.Kunden.Vorname AS KuVN, 
		dbo.Projekt.Projekt, 
		dbo.Personal.Nachname AS MaNN, 
		dbo.Personal.Vorname AS MaVN, 
        dbo.Abteilung.Abteilung,
		dbo.Position.Position,  
		dbo.Beruf.Beruf, 
		dbo.Arbeitszeit.Zeit
	FROM dbo.Arbeitszeit 
		INNER JOIN dbo.Projektzuordnung 
			ON dbo.Arbeitszeit.ProjektzuordnungID = dbo.Projektzuordnung.ProjektzuordnungID 
		INNER JOIN dbo.Personal 
			ON dbo.Projektzuordnung.PersonalID = dbo.Personal.PersonalID 
		INNER JOIN dbo.Abteilung 
			ON dbo.Personal.AbteilungsID = dbo.Abteilung.AbteilungsID 
		INNER JOIN dbo.Beruf 
			ON dbo.Personal.BerufID = dbo.Beruf.BerufID 
		INNER JOIN dbo.Position 
			ON dbo.Personal.PositionID = dbo.Position.PositionID 
		INNER JOIN dbo.Projekt 
			ON dbo.Projektzuordnung.ProjektID = dbo.Projekt.ProjektID 
		INNER JOIN dbo.Kunden 
			ON dbo.Projekt.KundenID = dbo.Kunden.KundenID
	WHERE  Arbeitszeit.Datum BETWEEN @DatumVon AND @DatumBis
	AND    Projekt.ProjektID = @ProjektID
	AND    Personal.PersonalID = @PersonalID
);
GO
/****** Object:  Table [dbo].[KundenLog]    Script Date: 10.03.2026 14:25:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KundenLog](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Mode] [char](1) NOT NULL,
	[EditOn] [datetime] NOT NULL,
	[EditUser] [nvarchar](100) NOT NULL,
	[KundenID] [int] NOT NULL,
	[KundenNachname] [nvarchar](50) NOT NULL,
	[KundenVorname] [nvarchar](50) NOT NULL,
	[PLZ] [char](5) NULL,
	[OrtAlt] [nvarchar](50) NULL,
	[Ort] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PersonalLog]    Script Date: 10.03.2026 14:25:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PersonalLog](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Mode] [char](1) NOT NULL,
	[EditOn] [datetime] NOT NULL,
	[EditUser] [varchar](100) NOT NULL,
	[PersonalID] [int] NOT NULL,
	[PersNachname_alt] [nvarchar](50) NULL,
	[PersNachname] [nvarchar](50) NOT NULL,
	[PersVorname_alt] [nvarchar](50) NULL,
	[PersVorname] [nvarchar](50) NOT NULL,
	[Land_alt] [nvarchar](50) NULL,
	[Land] [nvarchar](50) NULL,
	[OrtAlt] [nvarchar](50) NULL,
	[Ort] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ZeitbudgetMeldungen]    Script Date: 10.03.2026 14:25:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ZeitbudgetMeldungen](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EditOn] [datetime] NOT NULL,
	[Meldung] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Abteilung] ON 

INSERT [dbo].[Abteilung] ([AbteilungsID], [Abteilung], [Projektabteilung], [Kommentar]) VALUES (10, N'Management', 0, N'Geschäftsleitung')
INSERT [dbo].[Abteilung] ([AbteilungsID], [Abteilung], [Projektabteilung], [Kommentar]) VALUES (20, N'Finanzabteilung', 0, N'Buchhaltung etc')
INSERT [dbo].[Abteilung] ([AbteilungsID], [Abteilung], [Projektabteilung], [Kommentar]) VALUES (30, N'Verkauf', 0, N'Verkaufsabteilung und Kundenbetreuung')
SET IDENTITY_INSERT [dbo].[Abteilung] OFF
GO
SET IDENTITY_INSERT [dbo].[Arbeitszeit] ON 

INSERT [dbo].[Arbeitszeit] ([ArbeitszeitID], [ProjektzuordnungID], [Datum], [Zeit], [Kommentar]) VALUES (80, 4, CAST(N'2022-09-26' AS Date), 7, N'nfkdfkdmkdmkfk')
INSERT [dbo].[Arbeitszeit] ([ArbeitszeitID], [ProjektzuordnungID], [Datum], [Zeit], [Kommentar]) VALUES (100, 10, CAST(N'2022-09-27' AS Date), 14, N'added from 004-test-sp_AddProjektPerson')
INSERT [dbo].[Arbeitszeit] ([ArbeitszeitID], [ProjektzuordnungID], [Datum], [Zeit], [Kommentar]) VALUES (110, 12, CAST(N'2022-09-27' AS Date), 8, N'_')
GO
SET IDENTITY_INSERT [dbo].[Arbeitszeit] OFF
GO
SET IDENTITY_INSERT [dbo].[Beruf] ON 

INSERT [dbo].[Beruf] ([BerufID], [Beruf], [Kommentar]) VALUES (2, N'Automobilrennfahrer', NULL)
INSERT [dbo].[Beruf] ([BerufID], [Beruf], [Kommentar]) VALUES (3, N'Boxer', NULL)
INSERT [dbo].[Beruf] ([BerufID], [Beruf], [Kommentar]) VALUES (4, N'Buchhalter', NULL)
SET IDENTITY_INSERT [dbo].[Beruf] OFF
GO
SET IDENTITY_INSERT [dbo].[Kunden] ON 

INSERT [dbo].[Kunden] ([KundenID], [Vorname], [Nachname], [Ort], [PLZ], [Strasse], [Hausnr], [Telefon], [Mobil], [GebDat], [Kommentar]) VALUES (20, N'Harry', N'Potter', N'Hogwart', N'     ', N'', N'', N'012-3456789', NULL, CAST(N'1980-07-31' AS Date), N'Test 2022-08-25')
INSERT [dbo].[Kunden] ([KundenID], [Vorname], [Nachname], [Ort], [PLZ], [Strasse], [Hausnr], [Telefon], [Mobil], [GebDat], [Kommentar]) VALUES (30, N'Han', N'Solo', N'Corellia', N'ABCDE', NULL, NULL, N'012-9876543', NULL, CAST(N'1932-12-22' AS Date), N'Star Wars')
INSERT [dbo].[Kunden] ([KundenID], [Vorname], [Nachname], [Ort], [PLZ], [Strasse], [Hausnr], [Telefon], [Mobil], [GebDat], [Kommentar]) VALUES (40, N'Marilyn', N'Lonroe', N'Los Angeles', N'CA123', NULL, NULL, N'0667-2239867', NULL, CAST(N'1926-06-01' AS Date), N'')
SET IDENTITY_INSERT [dbo].[Kunden] OFF
GO
SET IDENTITY_INSERT [dbo].[KundenLog] ON 

INSERT [dbo].[KundenLog] ([ID], [Mode], [EditOn], [EditUser], [KundenID], [KundenNachname], [KundenVorname], [PLZ], [OrtAlt], [Ort]) VALUES (1, N'I', CAST(N'2026-03-03T09:41:54.540' AS DateTime), N'RZPC-0-155\alfa', 1490, N'Test-Trigger-Name', N'Test-Trigger-Vorname', N'55555', NULL, N'Test-Trigger-Ort')
INSERT [dbo].[KundenLog] ([ID], [Mode], [EditOn], [EditUser], [KundenID], [KundenNachname], [KundenVorname], [PLZ], [OrtAlt], [Ort]) VALUES (2, N'I', CAST(N'2026-03-03T09:44:25.490' AS DateTime), N'RZPC-0-155\alfa', 1500, N'ssdfdsdsdsd', N'iknfkmnfkmnkgfrdf', N'33333', NULL, N'sdfsdsdsds')
INSERT [dbo].[KundenLog] ([ID], [Mode], [EditOn], [EditUser], [KundenID], [KundenNachname], [KundenVorname], [PLZ], [OrtAlt], [Ort]) VALUES (3, N'D', CAST(N'2026-03-03T10:20:07.717' AS DateTime), N'RZPC-0-155\alfa', 1510, N'sdfedffdsfds', N'omgkrmgkrmkgmkgr', N'98765', NULL, N'zujzukjujuujzu')
SET IDENTITY_INSERT [dbo].[KundenLog] OFF
GO
SET IDENTITY_INSERT [dbo].[Personal] ON 

INSERT [dbo].[Personal] ([PersonalID], [Vorname], [Nachname], [Land], [Ort], [PLZ], [Strasse], [Hausnr], [Telefon], [Mobil], [AbteilungsID], [BerufID], [PositionID], [Kommentar]) VALUES (1, N'Albus Percival Wulfric Brian', N'Dumbledore', N'Schottland', N'Schloss Hogwarts', N'98765', N'', N'1', N'0123-123456789', NULL, 10, 6, 1, NULL)
INSERT [dbo].[Personal] ([PersonalID], [Vorname], [Nachname], [Land], [Ort], [PLZ], [Strasse], [Hausnr], [Telefon], [Mobil], [AbteilungsID], [BerufID], [PositionID], [Kommentar]) VALUES (2, N'Minerva', N'McGonagall', N'Schottland', N'Schloss Hogwarts', N'44444', N'', N'22', N'3333333333', NULL, 10, 6, 2, NULL)
INSERT [dbo].[Personal] ([PersonalID], [Vorname], [Nachname], [Land], [Ort], [PLZ], [Strasse], [Hausnr], [Telefon], [Mobil], [AbteilungsID], [BerufID], [PositionID], [Kommentar]) VALUES (3, N'Nikola', N'Desla', N'USA', N'Philadelphia', N'88523', N'Hoover Place', N'1', N'00410258963', NULL, 40, 5, 3, NULL)
SET IDENTITY_INSERT [dbo].[Personal] OFF
GO
SET IDENTITY_INSERT [dbo].[PersonalLog] ON 

INSERT [dbo].[PersonalLog] ([ID], [Mode], [EditOn], [EditUser], [PersonalID], [PersNachname_alt], [PersNachname], [PersVorname_alt], [PersVorname], [Land_alt], [Land], [OrtAlt], [Ort]) VALUES (1, N'I', CAST(N'2026-03-03T15:08:32.867' AS DateTime), N'RZPC-0-155\alfa', 46, NULL, N'dfgfgfg', NULL, N'asasas', NULL, N'ghghgh', NULL, N'hgghgh')
INSERT [dbo].[PersonalLog] ([ID], [Mode], [EditOn], [EditUser], [PersonalID], [PersNachname_alt], [PersNachname], [PersVorname_alt], [PersVorname], [Land_alt], [Land], [OrtAlt], [Ort]) VALUES (2, N'D', CAST(N'2026-03-03T15:09:29.760' AS DateTime), N'RZPC-0-155\alfa', 46, NULL, N'dfgfgfg', NULL, N'asasas', NULL, N'ghghgh', NULL, N'hgghgh')
INSERT [dbo].[PersonalLog] ([ID], [Mode], [EditOn], [EditUser], [PersonalID], [PersNachname_alt], [PersNachname], [PersVorname_alt], [PersVorname], [Land_alt], [Land], [OrtAlt], [Ort]) VALUES (3, N'U', CAST(N'2026-03-03T15:12:12.037' AS DateTime), N'RZPC-0-155\alfa', 39, N'Joliot-Gurie', N'Joliot-Gurie.', N'Irène', N'Irène.', N'Frankreich', N'Frankreich.', N'Paris', N'Paris.')
SET IDENTITY_INSERT [dbo].[PersonalLog] OFF
GO
SET IDENTITY_INSERT [dbo].[Position] ON 

INSERT [dbo].[Position] ([PositionID], [Position], [Kommentar]) VALUES (1, N'Geschaeftsleiter', NULL)
INSERT [dbo].[Position] ([PositionID], [Position], [Kommentar]) VALUES (2, N'Stellvertr. Geschaeftsleiterin', NULL)
INSERT [dbo].[Position] ([PositionID], [Position], [Kommentar]) VALUES (3, N'Abteilungsleiter', NULL)
SET IDENTITY_INSERT [dbo].[Position] OFF
GO
SET IDENTITY_INSERT [dbo].[Projekt] ON 

INSERT [dbo].[Projekt] ([ProjektID], [Projekt], [KundenID], [Abgeschlossen], [Kommentar]) VALUES (50, N'Pappa Mia', 60, 0, N'Mamma Mia ist ein Lied der schwedischen Popgruppe ABBA. Es erschien im April 1975 auf dem dritten Album der Gruppe, das ebenfalls den Namen ABBA trägt. Die Lead Vocals wurden von Anni-Frid Lyngstad und Agnetha Fältskog übernommen. Den Text schrieb Stig Anderson; Benny Andersson und Björn Ulvaeus komponierten die Musik.')
INSERT [dbo].[Projekt] ([ProjektID], [Projekt], [KundenID], [Abgeschlossen], [Kommentar]) VALUES (60, N'Millenium Falcon', 30, 0, N'Raumschiff entwickeln')
INSERT [dbo].[Projekt] ([ProjektID], [Projekt], [KundenID], [Abgeschlossen], [Kommentar]) VALUES (70, N'Abendkleid designen', 40, 0, N'Farbe blau')
SET IDENTITY_INSERT [dbo].[Projekt] OFF
GO
SET IDENTITY_INSERT [dbo].[ProjektZeitBudget] ON 

INSERT [dbo].[ProjektZeitBudget] ([ProjektZeitBudgetID], [ProjektID], [Monat], [Jahr], [Zeitbudget], [Kommentar]) VALUES (3131, 60, 1, 2024, 100, N'Test sp_AddProjektZeitBudget')
INSERT [dbo].[ProjektZeitBudget] ([ProjektZeitBudgetID], [ProjektID], [Monat], [Jahr], [Zeitbudget], [Kommentar]) VALUES (3132, 50, 1, 2024, 100, N'Test sp_AddProjektZeitBudget')
INSERT [dbo].[ProjektZeitBudget] ([ProjektZeitBudgetID], [ProjektID], [Monat], [Jahr], [Zeitbudget], [Kommentar]) VALUES (3133, 60, 2, 2024, 100, N'Test sp_AddProjektZeitBudget')
SET IDENTITY_INSERT [dbo].[ProjektZeitBudget] OFF
GO
SET IDENTITY_INSERT [dbo].[Projektzuordnung] ON 

INSERT [dbo].[Projektzuordnung] ([ProjektzuordnungID], [ProjektID], [PersonalID], [RolleID], [IstProjektleiter], [Kommentar]) VALUES (1, 50, 32, 10, 1, NULL)
INSERT [dbo].[Projektzuordnung] ([ProjektzuordnungID], [ProjektID], [PersonalID], [RolleID], [IstProjektleiter], [Kommentar]) VALUES (2, 50, 33, 11, 0, NULL)
INSERT [dbo].[Projektzuordnung] ([ProjektzuordnungID], [ProjektID], [PersonalID], [RolleID], [IstProjektleiter], [Kommentar]) VALUES (3, 60, 3, 1, 1, NULL)
SET IDENTITY_INSERT [dbo].[Projektzuordnung] OFF
GO
SET IDENTITY_INSERT [dbo].[RolleImProjekt] ON 

INSERT [dbo].[RolleImProjekt] ([RolleID], [Rolle], [Kommentar]) VALUES (1, N'Product Owner', N'für SCRUM-Projekte')
INSERT [dbo].[RolleImProjekt] ([RolleID], [Rolle], [Kommentar]) VALUES (2, N'Researcher', N'für SCRUM-Projekte')
INSERT [dbo].[RolleImProjekt] ([RolleID], [Rolle], [Kommentar]) VALUES (3, N'Architect', N'für SCRUM-Projekte')
SET IDENTITY_INSERT [dbo].[RolleImProjekt] OFF
GO
SET IDENTITY_INSERT [dbo].[ZeitbudgetMeldungen] ON 

INSERT [dbo].[ZeitbudgetMeldungen] ([ID], [EditOn], [Meldung]) VALUES (1, CAST(N'2026-03-03T11:27:18.583' AS DateTime), N'Der neue Datensatz: Monat 3 Jahr 2026 ProjektzuordnungID 1 Zeit 10 Std')
INSERT [dbo].[ZeitbudgetMeldungen] ([ID], [EditOn], [Meldung]) VALUES (2, CAST(N'2026-03-03T11:39:32.037' AS DateTime), N'Der neue Datensatz: Monat 3 Jahr 2026 ProjektzuordnungID 1 Zeit 20 Std')
INSERT [dbo].[ZeitbudgetMeldungen] ([ID], [EditOn], [Meldung]) VALUES (3, CAST(N'2026-03-03T11:59:14.690' AS DateTime), N'Zeitbudget für Projekt Pappa Mia für Monat 3 Jahr 2026 beträgt 100 Stunden, davon bereits geleistet 50.')
SET IDENTITY_INSERT [dbo].[ZeitbudgetMeldungen] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [NonClusteredIndex-20191212-143121]    Script Date: 10.03.2026 14:25:33 ******/
CREATE UNIQUE NONCLUSTERED INDEX [NonClusteredIndex-20191212-143121] ON [dbo].[Abteilung]
(
	[Abteilung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Arbeitszeit]    Script Date: 10.03.2026 14:25:33 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Arbeitszeit] ON [dbo].[Arbeitszeit]
(
	[Datum] ASC,
	[ProjektzuordnungID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [NonClusteredIndex-20200424-110140]    Script Date: 10.03.2026 14:25:33 ******/
CREATE UNIQUE NONCLUSTERED INDEX [NonClusteredIndex-20200424-110140] ON [dbo].[Beruf]
(
	[Beruf] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Kunden_Telefon]    Script Date: 10.03.2026 14:25:33 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Kunden_Telefon] ON [dbo].[Kunden]
(
	[Telefon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Position]    Script Date: 10.03.2026 14:25:33 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Position] ON [dbo].[Position]
(
	[Position] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [NonClusteredIndex-20191212-143207]    Script Date: 10.03.2026 14:25:33 ******/
CREATE UNIQUE NONCLUSTERED INDEX [NonClusteredIndex-20191212-143207] ON [dbo].[Projekt]
(
	[Projekt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Projekt_ZeitBudget]    Script Date: 10.03.2026 14:25:33 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Projekt_ZeitBudget] ON [dbo].[ProjektZeitBudget]
(
	[ProjektID] ASC,
	[Jahr] ASC,
	[Monat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Projektzuordnung]    Script Date: 10.03.2026 14:25:33 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Projektzuordnung] ON [dbo].[Projektzuordnung]
(
	[PersonalID] ASC,
	[ProjektID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_RolleImProjekt]    Script Date: 10.03.2026 14:25:33 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_RolleImProjekt] ON [dbo].[RolleImProjekt]
(
	[Rolle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Arbeitszeit] ADD  CONSTRAINT [DF_Arbeitszeit_Datum]  DEFAULT (getdate()) FOR [Datum]
GO
ALTER TABLE [dbo].[Arbeitszeit] ADD  CONSTRAINT [DF_Arbeitszeit_Zeit]  DEFAULT ((8)) FOR [Zeit]
GO
ALTER TABLE [dbo].[KundenLog] ADD  DEFAULT (getdate()) FOR [EditOn]
GO
ALTER TABLE [dbo].[KundenLog] ADD  DEFAULT (original_login()) FOR [EditUser]
GO
ALTER TABLE [dbo].[PersonalLog] ADD  DEFAULT (getdate()) FOR [EditOn]
GO
ALTER TABLE [dbo].[PersonalLog] ADD  DEFAULT (original_login()) FOR [EditUser]
GO
ALTER TABLE [dbo].[Projekt] ADD  CONSTRAINT [DF_Projekt_Abgeschlossen]  DEFAULT ((0)) FOR [Abgeschlossen]
GO
ALTER TABLE [dbo].[ZeitbudgetMeldungen] ADD  DEFAULT (getdate()) FOR [EditOn]
GO
ALTER TABLE [dbo].[Arbeitszeit]  WITH CHECK ADD  CONSTRAINT [FK_Arbeitszeit_Projektzuordnung] FOREIGN KEY([ProjektzuordnungID])
REFERENCES [dbo].[Projektzuordnung] ([ProjektzuordnungID])
GO
ALTER TABLE [dbo].[Arbeitszeit] CHECK CONSTRAINT [FK_Arbeitszeit_Projektzuordnung]
GO
ALTER TABLE [dbo].[Personal]  WITH CHECK ADD  CONSTRAINT [FK_Personal_Abteilung] FOREIGN KEY([AbteilungsID])
REFERENCES [dbo].[Abteilung] ([AbteilungsID])
GO
ALTER TABLE [dbo].[Personal] CHECK CONSTRAINT [FK_Personal_Abteilung]
GO
ALTER TABLE [dbo].[Personal]  WITH CHECK ADD  CONSTRAINT [FK_Personal_Position] FOREIGN KEY([PositionID])
REFERENCES [dbo].[Position] ([PositionID])
GO
ALTER TABLE [dbo].[Personal] CHECK CONSTRAINT [FK_Personal_Position]
GO
ALTER TABLE [dbo].[Personal]  WITH CHECK ADD  CONSTRAINT [FK_Personal_Profession1] FOREIGN KEY([BerufID])
REFERENCES [dbo].[Beruf] ([BerufID])
GO
ALTER TABLE [dbo].[Personal] CHECK CONSTRAINT [FK_Personal_Profession1]
GO
ALTER TABLE [dbo].[Projekt]  WITH CHECK ADD  CONSTRAINT [FK_Projekt_Kunden] FOREIGN KEY([KundenID])
REFERENCES [dbo].[Kunden] ([KundenID])
GO
ALTER TABLE [dbo].[Projekt] CHECK CONSTRAINT [FK_Projekt_Kunden]
GO
ALTER TABLE [dbo].[ProjektZeitBudget]  WITH CHECK ADD  CONSTRAINT [FK_Projekt_ZeitBudget_Projekt] FOREIGN KEY([ProjektID])
REFERENCES [dbo].[Projekt] ([ProjektID])
GO
ALTER TABLE [dbo].[ProjektZeitBudget] CHECK CONSTRAINT [FK_Projekt_ZeitBudget_Projekt]
GO
ALTER TABLE [dbo].[Projektzuordnung]  WITH CHECK ADD  CONSTRAINT [FK_Projektzuordnung_Personal] FOREIGN KEY([PersonalID])
REFERENCES [dbo].[Personal] ([PersonalID])
GO
ALTER TABLE [dbo].[Projektzuordnung] CHECK CONSTRAINT [FK_Projektzuordnung_Personal]
GO
ALTER TABLE [dbo].[Projektzuordnung]  WITH CHECK ADD  CONSTRAINT [FK_Projektzuordnung_Projekt] FOREIGN KEY([ProjektID])
REFERENCES [dbo].[Projekt] ([ProjektID])
GO
ALTER TABLE [dbo].[Projektzuordnung] CHECK CONSTRAINT [FK_Projektzuordnung_Projekt]
GO
ALTER TABLE [dbo].[Projektzuordnung]  WITH CHECK ADD  CONSTRAINT [FK_Projektzuordnung_RolleImProjekt] FOREIGN KEY([RolleID])
REFERENCES [dbo].[RolleImProjekt] ([RolleID])
GO
ALTER TABLE [dbo].[Projektzuordnung] CHECK CONSTRAINT [FK_Projektzuordnung_RolleImProjekt]
GO
ALTER TABLE [dbo].[Arbeitszeit]  WITH CHECK ADD  CONSTRAINT [CK_Arbeitszeit] CHECK  (([Zeit]>=(1) AND [Zeit]<=(24)))
GO
ALTER TABLE [dbo].[Arbeitszeit] CHECK CONSTRAINT [CK_Arbeitszeit]
GO
ALTER TABLE [dbo].[ProjektZeitBudget]  WITH CHECK ADD  CONSTRAINT [CK_Projekt_ZeitBudget_Monat] CHECK  (([MONAT]>=(1) AND [MONAT]<=(12)))
GO
ALTER TABLE [dbo].[ProjektZeitBudget] CHECK CONSTRAINT [CK_Projekt_ZeitBudget_Monat]
GO
ALTER TABLE [dbo].[ProjektZeitBudget]  WITH CHECK ADD  CONSTRAINT [CK_ProjektZeitBudget_groesser_null] CHECK  (([Zeitbudget]>(0)))
GO
ALTER TABLE [dbo].[ProjektZeitBudget] CHECK CONSTRAINT [CK_ProjektZeitBudget_groesser_null]
GO
/****** Object:  StoredProcedure [dbo].[sp_AddProjektZeitBudget]    Script Date: 10.03.2026 14:25:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_AddProjektZeitBudget]
	@ProjektID int,
	@Monat tinyint,
	@Jahr smallint,
	@Zeitbudget smallint,
	@Kommentar nvarchar(MAX),
	-----
	@Erfolg bit OUTPUT, -- geklappt oder nicht
	@Feedback NVARCHAR(MAX) OUTPUT -- Fehlermeldungen etc.
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;	
	-------------------------------	
	-- Hilfsvariablen deklarieren	
	DECLARE @CheckResult AS bit;
	-------------------------------	
	BEGIN TRY 
		-- @ProjektID existiert und ist nicht abgeschlossen
		SET @CheckResult = Firma.dbo.sf_ProjektAbgeschlossen(@ProjektID);
		IF @CheckResult IS NULL -- @ProjektID nicht gefunden, Fehler
			THROW 50001,'Projekt existiert nicht, ProjektID ist falsch, bitte korrigieren!', 1;
			
		IF @CheckResult = 1 -- Projekt abgeschlossen
			THROW 50002, 'Projekt abgeschlossen, bitte korrigieren!', 1;

		-- Monat und Jahr - keine Vergangenheit
		IF (YEAR(GETDATE()) > @Jahr) 
			OR  
		   (YEAR(GETDATE()) = @Jahr AND (MONTH(GETDATE()) > @Monat))
				THROW 50003, 'Monat und Jahr liegen in Vergangenheit, bitte korrigieren!', 1;

		-- INSERT INTO [dbo].[ProjektZeitBudget]
		INSERT INTO [dbo].[ProjektZeitBudget]
					([ProjektID], [Monat], [Jahr], [Zeitbudget], [Kommentar])
		VALUES      (@ProjektID,   @Monat,  @Jahr,  @Zeitbudget,  @Kommentar);


		SET @Erfolg = 1;
		SET @Feedback = 'Alles OK!';			
	END TRY 
	BEGIN CATCH
		SET @Erfolg = 0; -- nicht geklappt--
		-- 	@Feedback text OUTPUT --Fehlermeldungen etc.
		SET @Feedback = 
			ERROR_MESSAGE() + CHAR(10)-- Zeilenumbruch
			+ 'Fehler Nr. ' + CONVERT(varchar, ERROR_NUMBER()) + CHAR(10)
			+ 'Prozedur: '  + ERROR_PROCEDURE() + CHAR(10)
			+ 'Zeile Nr.: ' + CONVERT(varchar,  ERROR_LINE());
	END CATCH; 
END
GO
/****** Object:  StoredProcedure [dbo].[sp_AddProjektzuordnung]    Script Date: 10.03.2026 14:25:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_AddProjektzuordnung]  
	@ProjektID int,
	@PersonalID int,
	@RolleID int,
	@IstProjektleiter bit,
	@Kommentar nvarchar(MAX),
	----------------------------------------------------
	@Erfolg bit OUTPUT, -- geklappt oder nicht
	@Feedback NVARCHAR(MAX) OUTPUT -- Fehlermeldungen etc.
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	DECLARE @msg AS nvarchar(MAX); -- Fehlermeldung
	DECLARE @CheckResult AS bit;		
	-------------------------------------------------------------------	
	BEGIN TRY
		-- @ProjektID existiert und ist nicht abgeschlossen
		SET @CheckResult = dbo.sf_ProjektAbgeschlossen(@ProjektID);
		IF @CheckResult IS NULL -- @ProjektID nicht gefunden, Fehler
			THROW 50001, 'Projekt existiert nicht, ProjektID ist falsch, bitte korrigieren!', 1;
		IF @CheckResult = 1 -- Projekt abgeschlossen
			THROW 50002, 'Projekt abgeschlossen, bitte korrigieren!', 1;

		-- @PersonalID existiert und Mitarbeiter ist aus Projektabteilung
		SET @CheckResult = [dbo].[sf_IstMaAusPrAbt](@PersonalID);
		IF @CheckResult IS NULL -- @PersonalID nicht gefunden, Fehler
			THROW 50003, 'PersonalID ist falsch, bitte korrigieren!', 1;
		IF @CheckResult = 0 -- nicht aus Projektabt.
		BEGIN		
			DECLARE @Nachname nvarchar(50);
			SET @Nachname =
			(
				SELECT Nachname
				FROM Personal
				WHERE PersonalID = @PersonalID			
			);
			-- Meldung - 
			SET @msg = 'Mitarbeiter Nr. ' + CONVERT(varchar(10), @PersonalID) +
				' ' +  @Nachname + 					
				' arbeitet in einer nicht-Projektabteilung, bitte korrigieren!';  
				 -- TODO: Vorname, Abt.-Bezeichnung, etc.
			THROW 50004, @msg, 1;
		END -- nicht aus Projektabt.
		-- bei Bedarf - nur 1 Projektleiter pro Projekt
		IF (@IstProjektleiter = 1)
		BEGIN
			SET @CheckResult = [dbo].[sf_ProjektleiterVorhanden](@ProjektID);
			IF @CheckResult = 1
				THROW 50005, 'Projekleiter vorhanden, bitte korrigieren!', 1;		
		END	-- (@IstProjektleiter = 1)	
		-- INSERT INTO [dbo].[Projektzuordnung]
		INSERT INTO [dbo].[Projektzuordnung] 
			   (ProjektID,  PersonalID,  RolleID,  IstProjektleiter,  Kommentar)
		VALUES (@ProjektID, @PersonalID, @RolleID, @IstProjektleiter, @Kommentar);
		----------------------
		SET @Erfolg = 1;
		SET @Feedback = 'Alles OK!';	
	END TRY 
	BEGIN CATCH
		SET @Erfolg = 0; -- nicht geklappt--
		-- 	@Feedback text OUTPUT --Fehlermeldungen etc.
		SET @Feedback = 
			ERROR_MESSAGE() + ' Fehler Nr. '+ CONVERT(varchar, ERROR_NUMBER())
						+ ' Prozedur: '  + ERROR_PROCEDURE()
						+ ' Zeile Nr.: ' + CONVERT(varchar,  ERROR_LINE());
	END CATCH;    
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Backup_Firma]    Script Date: 10.03.2026 14:25:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_Backup_Firma] 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;	

   	BACKUP DATABASE [Firma] TO DISK = 
	'C:\SQL-Kurs\004-DB-Firma-Backup\Firma-last-backup.bak';
   
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Backup_Firma_mit_Zeitstempel]    Script Date: 10.03.2026 14:25:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_Backup_Firma_mit_Zeitstempel] 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;	
	
	DECLARE @BackupFile NVARCHAR(MAX); -- path + file name
	SET @BackupFile = 'C:\SQL-Kurs\004-DB-Firma-Backup\Firma-' 
					  + [dbo].[sf_Zeitstempel]() 
					  + '.bak';	

   	BACKUP DATABASE [Firma] TO DISK = @BackupFile;
   
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Backup_Firma_mit_Zeitstempel_und_Param]    Script Date: 10.03.2026 14:25:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_Backup_Firma_mit_Zeitstempel_und_Param] 
	@Pfad NVARCHAR(MAX)  -- Parameter 1	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;	
	
	DECLARE @BackupFile NVARCHAR(MAX); -- path + file name
	SET @BackupFile = @Pfad 
					  + 'Firma-'  
					  + [dbo].[sf_Zeitstempel]() 
					  + '.bak';	

   	BACKUP DATABASE [Firma] TO DISK = @BackupFile;
   
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Backup_Firma_mit_Zeitstempel_und_Param_Output]    Script Date: 10.03.2026 14:25:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_Backup_Firma_mit_Zeitstempel_und_Param_Output] 
	@Pfad NVARCHAR(MAX) , -- Parameter 1
	@Feedback NVARCHAR(MAX) OUTPUT -- Parameter 2	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;	
	
	DECLARE @BackupFile NVARCHAR(MAX); -- path + file name
	SET @BackupFile = @Pfad 
					  + 'Firma-'  
					  + [dbo].[sf_Zeitstempel]() 
					  + '.bak';	

   	BACKUP DATABASE [Firma] TO DISK = @BackupFile;
	-- Version 1: @Feedback immer gleich
	SET @Feedback = 'Bla-bla-bla'; -- nur Demo
   
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Backup_Firma_mit_Zeitstempel_und_Param_Output_Und_Fehlermeldung]    Script Date: 10.03.2026 14:25:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_Backup_Firma_mit_Zeitstempel_und_Param_Output_Und_Fehlermeldung] 
	@Pfad NVARCHAR(MAX) , -- Parameter 1
	@Feedback NVARCHAR(MAX) OUTPUT -- Parameter 2	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;	

	BEGIN TRY	
		DECLARE @BackupFile NVARCHAR(MAX); -- path + file name
		SET @BackupFile = @Pfad 
						  + 'Firma-'  
						  + [dbo].[sf_Zeitstempel]() 
						  + '.bak';	

   		BACKUP DATABASE [Firma] TO DISK = @BackupFile;
		SET @Feedback = CHAR(10) + 'Alles OK!'; 
	END TRY
	BEGIN CATCH	
		--SET @Feedback = CHAR(10) + 'Fehler!';
		SET @Feedback = ERROR_MESSAGE() + CHAR(10) -- Zeilenumbruch
						+ 'Fehler Nr. ' + CONVERT(varchar, ERROR_NUMBER()) + CHAR(10)
						+ 'Prozedur: '  + ERROR_PROCEDURE() + CHAR(10)
						+ 'Zeile Nr.: ' + CONVERT(varchar,  ERROR_LINE());	 
	END CATCH
   
END
GO
/****** Object:  StoredProcedure [dbo].[sp_BackupAllDB]    Script Date: 10.03.2026 14:25:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_BackupAllDB]
	 @path nvarchar(256),  -- path for backup files
	 ------------------
	 @Erfolg bit OUTPUT, -- geklappt oder nicht
	 @Feedback NVARCHAR(MAX) OUTPUT -- Fehlermeldungen etc.
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @dbname NVARCHAR(30); -- database name 
	DECLARE @BackupFileName NVARCHAR(50); -- backup file name
	DECLARE @fullDBBackupName NVARCHAR(256); -- full backup file name with path
	DECLARE @msg NVARCHAR(100); -- Fehlermeldung etc
	------------------------------------------------------
	BEGIN TRY		
		---- prüfen, ob @path existiert, wenn nicht - Ordner erstellen -----
		DECLARE @tb_fileexist TABLE (FileExists bit, FileIsDir bit, ParentDirExists bit);
		INSERT INTO @tb_fileexist EXEC master.dbo.xp_fileexist @path;
		
		IF (SELECT FileExists FROM @tb_fileexist) = 1 -- Das ist eine Datei
		BEGIN 
			THROW 50100, 'Pfad ist eine Datei', 1; -- TODO Fehlermeldung verbessern
		END
		
		ELSE IF ((SELECT FileIsDir FROM @tb_fileexist) = 0)  -- Ordner existiert nicht
		AND ((SELECT FileExists FROM @tb_fileexist) = 0)  -- ist keine Datei 
		BEGIN -- Ordner existiert nicht, ist keine Datei
			-- @path testen. Die ersten 3 Positionen sollen so aussehen: C:\
			IF (@path NOT LIKE '[A-Z]:\%')
				THROW 50101, 'Pfad falsch', 1; -- TODO Meldung verbessern			
			ELSE --  testen ob die Festplatte existiert, wenn nicht -  Fehler, Abbruch
			BEGIN				
				DECLARE @driveTable TABLE (DRIVE char, MBfrei int);
				INSERT INTO @driveTable EXEC master.sys.xp_fixeddrives; -- nur die Festplatten, ohne USB
				-- Die erste Position aus @path
				DECLARE @Drive char = LEFT(@path, 1); 
				IF @Drive NOT IN (SELECT DRIVE FROM @driveTable)
				BEGIN
					SET @msg = 'Festplate '  + @Drive + ' existiert nicht';
					THROW 50102, @msg, 1;
				END	
				ELSE -- Festplate existiert, Ordner erstellen
				BEGIN	
					EXEC master.sys.xp_create_subdir @path;
				END -- Festplate existiert, Ordner erstellen		
			END -- testen ob die Festplatte existiert, wenn nicht -  Fehler, Abbruch
		END -- Ordner existiert nicht, ist keine Datei
		---- ENDE prüfen, ob @path existiert, wenn nicht - Ordner erstellen --------
		
		---- Alle DB sichern --------
		DECLARE db_cursor CURSOR FOR 
			SELECT name 
			FROM MASTER.dbo.sysdatabases
			WHERE name NOT IN 
			('master', 'model', 'msdb', 'tempdb', 'DWConfiguration', 'DWDiagnostics', 'DWQueue')
			ORDER BY name;			
		OPEN db_cursor;
			FETCH NEXT FROM db_cursor INTO @dbname; -- go to record 1
			WHILE @@FETCH_STATUS = 0  -- Die FETCH-Anweisung war erfolgreich...
			BEGIN
				SET @BackupFileName = @dbname + '-' + dbo.sf_Zeitstempel() + '.bak';
				SET @fullDBBackupName = @path + @BackupFileName;
				BACKUP DATABASE @dbname TO DISK = @fullDBBackupName; -- DB sichern
				-------------------	
				FETCH NEXT FROM db_cursor INTO @dbname; -- go to next record
			END -- CURSOR-WHILE		
		CLOSE db_cursor;
		DEALLOCATE db_cursor; -- CURSOR vernichten aus Arbeitsspeicher
		-----------------------------------------------
		SET @Erfolg = 1;
		SET @Feedback = 'Alles OK!';
	END TRY
	BEGIN CATCH
		-- TODO: prüfen, ob CURSOR noch existiert, und vernichten
		SET @Erfolg = 0; -- nicht geklappt--
		SET @Feedback = 
			ERROR_MESSAGE() + ' Fehler Nr. ' + CONVERT(varchar, ERROR_NUMBER())
							+ ' Prozedur: '  + ERROR_PROCEDURE()
							+ ' Zeile Nr.: ' + CONVERT(varchar,  ERROR_LINE());
	END CATCH;  			
END
GO
/****** Object:  Trigger [dbo].[tr_Arbeitszeit_INSERT_Test_Zeitbudget]    Script Date: 10.03.2026 14:25:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Description:	Zeitbudget testen 
-- prüfen, ob weniger als 10 Std. für laufenden Monat übrig bleibt --
-- =============================================
CREATE   TRIGGER [dbo].[tr_Arbeitszeit_INSERT_Test_Zeitbudget] 
   ON [dbo].[Arbeitszeit]  
   FOR INSERT 
AS 
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for trigger here
		
	DECLARE @CurrZeit smallint; -- so viel Zeit hat der MA jetzt gearbeitet
	DECLARE @CurrProjektzuordnungID int;
	DECLARE @CurrDatum date; -- das Datum
	------------------------------
	DECLARE @msg AS nvarchar(MAX);			
	DECLARE @Monat int;
	DECLARE @Jahr int;
	------------------------------
		

	SET @CurrZeit = (SELECT Zeit FROM inserted);	
		-- es geht auch so: SELECT @CurrZeit = Zeit FROM inserted;
	SET @CurrProjektzuordnungID = (SELECT ProjektzuordnungID FROM inserted);
	SET @CurrDatum = (SELECT Datum FROM inserted);
	-----------------------------------------
	SET @Monat = MONTH(@CurrDatum);
	SET @Jahr = YEAR(@CurrDatum);	

	
	---- Wie viel Std. hat der Kunde bezahlt? ----------
	DECLARE @ProjektID int;
	DECLARE @Zeitbudget smallint;

	SET @ProjektID = 
	(
		SELECT ProjektID
		FROM dbo.Projektzuordnung
		WHERE ProjektzuordnungID = @CurrProjektzuordnungID
	);
	--
	SET @Zeitbudget = [dbo].[sf_Zeitbudget_Projekt_Datum] (@ProjektID, @CurrDatum); 

	---- Wie viel Std. haben alle MA geleistet? --------
	DECLARE @Arbeitszeit_Projekt_Monat int;
	SET @Arbeitszeit_Projekt_Monat = [dbo].[sf_Arbeitszeit_Projekt_Monat](@ProjektID, @CurrDatum);

	---- Differenz < 10 Std.? Dann - Message -----------	
	IF (@Zeitbudget - @Arbeitszeit_Projekt_Monat) < 10	
	BEGIN	

		-- Message  ----------------
		
		DECLARE @Projektbezeichnung nvarchar(50);
		SET @Projektbezeichnung =  
		(
			SELECT [Projekt]
			FROM [dbo].[Projekt]
			WHERE [ProjektID] =  @ProjektID
		); 	
	
		SET @msg = 
			FORMATMESSAGE('Zeitbudget für Projekt %s für Monat %i Jahr %i beträgt %i Std, davon bereits geleistet %i. Differenz ist %i Std',
			@Projektbezeichnung, @Monat, @Jahr, @Zeitbudget, @Arbeitszeit_Projekt_Monat, (@Zeitbudget - @Arbeitszeit_Projekt_Monat));
	
		INSERT INTO dbo.ZeitbudgetMeldungen (Meldung)
									 VALUES (@msg);	
			
	END	-- IF (@Zeitbudget - @Arbeitszeit_Projekt_Monat) < 10

END -- CREATE OR ALTER TRIGGER
GO
ALTER TABLE [dbo].[Arbeitszeit] ENABLE TRIGGER [tr_Arbeitszeit_INSERT_Test_Zeitbudget]
GO
/****** Object:  Trigger [dbo].[tr_KundenDELETE]    Script Date: 10.03.2026 14:25:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   TRIGGER [dbo].[tr_KundenDELETE] 
   ON [Firma].[dbo].[Kunden] 
   FOR DELETE
AS 
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for trigger here
	INSERT INTO dbo.KundenLog
			(Mode, KundenID, KundenNachname, KundenVorname, PLZ, Ort)
	SELECT   'D',  KundenID, Nachname,       Vorname,       PLZ, Ort
	FROM deleted;

END
GO
ALTER TABLE [dbo].[Kunden] ENABLE TRIGGER [tr_KundenDELETE]
GO
/****** Object:  Trigger [dbo].[tr_KundenINSERT]    Script Date: 10.03.2026 14:25:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   TRIGGER [dbo].[tr_KundenINSERT]
   ON [Firma].[dbo].[Kunden] 
   FOR INSERT
AS 
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for trigger here
	INSERT INTO [Firma].[dbo].[KundenLog]
			(MODE, KundenID, KundenNachname, KundenVorname, PLZ, Ort)
	SELECT   'I',  KundenID, Nachname,       Vorname,       PLZ, Ort
	FROM inserted;
END
GO
ALTER TABLE [dbo].[Kunden] ENABLE TRIGGER [tr_KundenINSERT]
GO
/****** Object:  Trigger [dbo].[tr_KundenUPDATE]    Script Date: 10.03.2026 14:25:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   TRIGGER [dbo].[tr_KundenUPDATE]  
   ON [Firma].[dbo].[Kunden] 
   FOR UPDATE
AS 
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for trigger here
	IF UPDATE(Ort) -- nur protokollieren, wenn die Spalte Ort geändert wurde
	BEGIN
		
		INSERT INTO dbo.KundenLog
		(
			Mode,   KundenID, KundenNachname, KundenVorname, PLZ,
			OrtAlt, 
			Ort
		)
		SELECT 'U', KundenID, Nachname,       Vorname,       PLZ, 
		-- Beispiel nur für Ort, 
		-- genau so kann man auch für Nachname, Vorname etc. programmieren	
		(SELECT Ort FROM deleted), -- Wert alt
		(SELECT Ort FROM inserted) -- Wert neu
		FROM deleted; -- es geht auch FROM inserted
	END -- IF UPDATE(Ort)
END --CREATE OR ALTER TRIGGER 
GO
ALTER TABLE [dbo].[Kunden] ENABLE TRIGGER [tr_KundenUPDATE]
GO
/****** Object:  Trigger [dbo].[tr_PersonalDELETE]    Script Date: 10.03.2026 14:25:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE   TRIGGER [dbo].[tr_PersonalDELETE] -- Name des Triggers
	ON [dbo].[Personal] -- welche Tabelle oder Sicht soll überwacht werden
	FOR DELETE    -- welches Ereignis (INSERT -und AFTER INSERT-, UPDATE oder DELETE)
				 
AS 
BEGIN
	SET NOCOUNT ON;

	INSERT INTO dbo.PersonalLog
	(
			Mode, PersonalID, PersNachname, PersVorname, Land, Ort
	)
	SELECT  'D', PersonalID,  Nachname,     Vorname,    Land,  Ort
	FROM deleted; 

END
GO
ALTER TABLE [dbo].[Personal] ENABLE TRIGGER [tr_PersonalDELETE]
GO
/****** Object:  Trigger [dbo].[tr_PersonalINSERT]    Script Date: 10.03.2026 14:25:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE   TRIGGER [dbo].[tr_PersonalINSERT] -- Name des Triggers
	ON [dbo].[Personal] -- welche Tabelle oder Sicht soll überwacht werden
	FOR INSERT    -- welches Ereignis (INSERT -und AFTER INSERT-, UPDATE oder DELETE)
				 
AS 
BEGIN
	SET NOCOUNT ON;

	INSERT INTO dbo.PersonalLog
	(
			Mode, PersonalID, PersNachname, PersVorname, Land, Ort
	)
	SELECT  'I',  PersonalID, Nachname,     Vorname,    Land,  Ort
	FROM inserted; 

END
GO
ALTER TABLE [dbo].[Personal] ENABLE TRIGGER [tr_PersonalINSERT]
GO
/****** Object:  Trigger [dbo].[tr_PersonalUPDATE]    Script Date: 10.03.2026 14:25:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   TRIGGER [dbo].[tr_PersonalUPDATE] -- Name des Triggers
	ON [dbo].[Personal] -- welche Tabelle oder Sicht soll überwacht werden
	FOR UPDATE    -- welches Ereignis (INSERT -und AFTER INSERT-, UPDATE oder DELETE)
				 
AS 
BEGIN
	SET NOCOUNT ON;

	INSERT INTO dbo.PersonalLog
	(
		 Mode,
		 PersonalID,
  ---------------------------
		 PersNachname_alt,
		 PersNachname,
  ---------------------------
		 PersVorname_alt,
		 PersVorname,
  ---------------------------
		 Land_alt,
		 Land,
  ---------------------------
		 OrtAlt,
		 Ort
	)

	SELECT 
	'U',
	PersonalID,
----------- Nachname alt ----------------------------------------------------
	Nachname,  -- Wert alt,
----------- Nachname ----------------------------------------------------
	(SELECT Nachname FROM inserted), -- Wert neu
----------- Vorname alt ----------------------------------------------------
	Vorname,
----------- Vorname ----------------------------------------------------
	(SELECT Vorname FROM inserted), -- Wert neu,
----------- Land alt --------------------------------------------------------
	Land,  -- Wert alt
	-----------------------------------------------------------------------------
	(SELECT Land FROM inserted), -- Wert neu
----------- Ort alt ---------------------------------------------------------
	Ort,  -- Wert alt
-----------------------------------------------------------------------------
	(SELECT Ort FROM inserted) -- Wert neu
	
	FROM deleted; 

END
GO
ALTER TABLE [dbo].[Personal] ENABLE TRIGGER [tr_PersonalUPDATE]
GO
